<h1>User Profile</h1>
<% if current_user %>
<p>Welcome to your user profile, <%= @user.name %></p>
<ul class="list-unstyled">
  <li>
    <b>Name:</b>
    <%= @user.name %></li>
  <li>
    <b>Email:</b>
    <%= @user.email %></li>
  <li>
    <b>Last sign in:</b>
    <%= @user.last_sign_in_at %></li>
</ul>
<% else %>
<p>
  Please sign in to see your information.
</p>
<% end %>

<div class="row">
  <div class="col-md-8">
    <%= render 'items/form' %>
  </div>

  <div class="col-md-8">
    <%= render 'items/item' %>
  </div>

</div>
